<main id="full-game-main">
  <section class="full-game-description">
    <section class="container">
      <h3 class="game-name">{{game.name}}<br> <span id="genreHB">Genre: {{game.genre}}</span></h3>
      <img src="/images/{{game.filename}}" alt="{{game.[0].description}}">
        <div class="gButtons">
          <button onclick="window.location = '{{game.purchaselink}}', '_blank'"  class="buy">Press here to buy!</button>
        </div>
    </section>
    <section id="game-description">
          <div class="game-name">{{game.description}}</div>
    </section>
  </section>

  <section id="comments">
    {{#if loggedIn}}
    <section class="top">
    </section>

    <section class="re">
      <form class="leaveReview">
        <label class="game-name">What do ya think about it?</label>
        <input type="text" name="ReviewText" id="review-input" data-game-id={{game.id}}>
        <button class="makeReview" type="submit">Leave a review.</button>
      </form>
      {{reviews-details}}
          {{#each game.reviews as |reviews|}}
      {{> reviews-details}}
      {{/each}}
    </section>
    {{else}}
    <a href="/login"></a>
    {{/if}}
  </section>
</main>
<script src="../js/review.js"></script>